//= require_self

$desktop-large: "(min-width:1600px)";
$desktop: "(min-width:992px)";

$tablet-landscape: "(min-width:768px) and (orientation : landscape)";
$tablet-portrait: "(min-width: 768px) and (max-width:991px)";

$tablet-7: "only screen and (min-width: 600px) and (max-width: 795px) and (orientation : portrait)";
$tablet-7-landscape: "only screen and (min-width: 680px) and (max-width: 1030px) and (orientation : landscape)";

$phone: "(max-width: 467px)";
$phone-landscape: "(max-device-width: 767px) and (orientation: landscape)";

@mixin icon-before($icon){
  content: $icon;
  font-family: FontAwesome;
}

/* INICIO slick carusel css*/

.slick-slider {
    margin-bottom: 0px !important;
}

.slick-prev {
    left: 10px !important;
    z-index: 1;
}

.slick-next {
    right: 18px !important;
    z-index: 1;
}

.slick-prev::before, .slick-next::before {
	font-size: 26px !important;
}

/* FIN slick carusel css*/


/* Style nav panels software y hardware */

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border: 2px solid #4968a9;
	border-bottom-color: transparent;
	background: #4968a9;
	padding-bottom: 12px;
	color: #fff;
}

.nav-tabs > li > a {
	border: none;

}

.nav-tabs{

	  border-bottom: 4px solid #4968a9;

	li{

		a{
			color: #4968A9;
			font-weight: bold;
			padding-bottom: 15px;
			margin-bottom: 0;

			@media #{$phone}{
				font-size: 12px;	
			}
			@media #{$phone-landscape}{
				font-size: 14px;	
			}


		}

		a:hover{
		 background: #4968A9;
		 color: #fff;

		}
	}
}

/* stylo paginador */

.pagination .btn-current {
	background: none repeat scroll 0% 0% #D40A0D;
	color: #FFF;
	font-weight: bold;
}

.pagination .page .btn-page{
	color: rgba(0, 0, 0, 0.54) !important;
	background: none repeat scroll 0% 0% #EEE;
}

.container-global{
	
	width: 100%;
	padding: 50px 15px 0 15px;
	margin: 0;

	&-full-categorias{
    	overflow: hidden;
    	padding: 0;

    	.container-error{
    		width: 100%;
    		padding: 9.5% 0;
    		i{
    			font-size: 30rem;
    		}

    		p{
    			font-size: 25px;
    		}
    	}

    	.post{
    		height: 450px;
    		background-position: 50% 50%;
		    background-size: cover;
		    background-color: inherit;
		    padding: 0;


		    .post-attributes:hover{
		    	background: rgba(255, 255, 255, 0.05);
		    	-webkit-transition: all 0.5s;
				-moz-transition: all 0.5s;
				-ms-transition: all 0.5s;
				-o-transition: all 0.5s;
				transition: all 0.5s;
		    }

		    .post-attributes{
		    	position: absolute;
		    	bottom: 0;
		    	width: 100%;
		    	padding: 25px 35px;
		    	padding-top: 340px;
		    	z-index: 1;
		    	color: #fff;
				/* background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.20) 18%,rgba(0,0,0,0.42) 36%,rgba(0,0,0,0.85) 70%,rgba(0,0,0,0.95) 87%,rgba(0,0,0,1) 100%);*/
				background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.20) 8%,rgba(0,0,0,0.3) 26%,rgba(0,0,0,0.4) 60%,rgba(0,0,0,0.5) 87%,rgba(0,0,0,0.6) 90%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
				
				-webkit-transition: all 0.5s;
				-moz-transition: all 0.5s;
				-ms-transition: all 0.5s;
				-o-transition: all 0.5s;
				transition: all 0.5s;

		    	&-title{
		    		width: 100%;
		    		font-size: 20px;

		    		a{
		    			color: #fff;
		    		}
		    	}

		    	&-category{
		    		position: absolute;
		    		background-color: #4968A9;
		    		padding: 3px 12px;
		    		border-radius: 5px;
		    		top: 324px;

		    		a{
		    			color: #fff;
		    			font-size: 12px;
		    			text-transform: uppercase;		
		    		}
		    	}
		    }
    	}
	}

	&-secciones{
		padding: 0;

		@media #{$desktop}{
			margin-top: 40px;
		}
		&-ultimas-noticias{
			overflow: hidden;
			padding: 15px 60px 0 0px;

			@media #{$phone}{
				padding: 15px 0 0 0;	
			}
			@media #{$phone-landscape}{
				padding: 15px 0 0 0;	
			}

			@media #{$tablet-7-landscape}{
				padding: 15px 0 0 0;
			}

			@media #{$tablet-7}{
				padding: 15px 0 0 0;
			}

			@media #{$tablet-portrait}{
				padding: 15px 0 0 0;
			}

			&-title-seccion{
				border-bottom: solid 5px #4968A9;
				margin-bottom: 15px;
				padding: 0;
				
				p{
					color: #fff;
					background: #4968A9;
					position: relative;
					width: 30%;
					text-align: center;
					margin: 0;
					border-radius: 5px 5px 0 0;

					@media #{$phone}{
						width: 45%;
					}
				}
			}

			&-panels{
				padding: 20px 0 0 0;
				@media #{$desktop}{
					padding: 0;
				}
				.tab-content{
					-webkit-transition: all 0.5s;
					-moz-transition: all 0.5s;
					-ms-transition: all 0.5s;
					-o-transition: all 0.5s;
					transition: all 0.5s;
					
					.tab-pane{
						-webkit-transition: all 0.5s;
						-moz-transition: all 0.5s;
						-ms-transition: all 0.5s;
						-o-transition: all 0.5s;
						transition: all 0.5s;
						.post{
							
							height: 200px;
							margin-top: 20px;
							padding: 0;

							@media #{$tablet-7-landscape}{
			    				height: 350px;
			    				
			   				}

							&-image{
								height: 100%;
								background-size: cover;
								background-position: 50% 50%;
							}

							&-attributes{

								position: absolute;
								bottom: 0;
								right: 0;

								@media #{$phone}{
								  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.3) 8%, rgba(0, 0, 0, 0.4) 26%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.6) 87%, rgba(0, 0, 0, 0.7) 90%);
								
									i{
										display: none !important;
									}

									p{
										display: none !important;
									}
								}

								@media #{$phone-landscape}{
									width: 100%;
								  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.3) 8%, rgba(0, 0, 0, 0.4) 26%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.6) 87%, rgba(0, 0, 0, 0.7) 90%);
									
									i{
										display: none !important;
									}

									p{
										display: none !important;
									}
								}

								@media #{$tablet-7-landscape}{
									
								  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.3) 8%, rgba(0, 0, 0, 0.4) 26%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.6) 87%, rgba(0, 0, 0, 0.7) 90%);
									
									i{
										display: none !important;
									}

									p{
										display: none !important;
									}
								}

								@media #{$tablet-7}{
									
								  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.3) 8%, rgba(0, 0, 0, 0.4) 26%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.6) 87%, rgba(0, 0, 0, 0.7) 90%);
									
									i{
										display: none !important;
									}

									p{
										display: none !important;
									}
								}

								@media #{$tablet-portrait}{
									
								  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.3) 8%, rgba(0, 0, 0, 0.4) 26%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.6) 87%, rgba(0, 0, 0, 0.7) 90%);
									
									i{
										display: none !important;
									}

									p{
										display: none !important;
									}
								}

								img{
									display: inline-block;
									margin-bottom: 15px;
									border-radius: 50%;

									@media #{$phone}{
										margin-bottom: 0px;
									}
								}

								a{
									display: inline-block;
									color: #000;
									margin-left: 5px;
									position: relative;
									top: -5px;

									@media #{$phone}{
										color: #fff;
									}

									@media #{$phone-landscape}{
										color: #fff;
									}

									@media #{$tablet-7-landscape}{
										color: #fff;
									}

									@media #{$tablet-7}{
										color: #fff;
									}

									@media #{tablet-portrait}{
										color: #fff;
									}
								}

								i{
									display: inline-block;
								}

								p{
									display: inline-block;
									margin-right: 5px;

									@media #{$phone}{
										color: #fff;
									}

									@media #{$tablet-portrait}{
										color: #fff;
									}
								}

								&-title{
									font-size: 20px;

									a{
										text-decoration: none;
										color: #000;

										@media #{$phone}{
											color: #fff;
										}

										@media #{$phone-landscape}{
											color: #fff;
										}

										@media #{$tablet-7-landscape}{
											color: #fff
										}

										@media #{$tablet-7}{
											color: #fff
										}

										@media #{$tablet-portrait}{
											color: #fff
										}
									}
								}
							}
						}
					}
				}
			}

			.multiple-items-breaking-news{
				padding: 0;

				.post{
		    		height: 450px;
		    		background-position: 50% 50%;
				    background-size: cover;
				    background-color: inherit;
				    padding: 0;


				    .post-attributes:hover{
				    	background: rgba(255, 255, 255, 0.05);
				    	-webkit-transition: all 0.5s;
						-moz-transition: all 0.5s;
						-ms-transition: all 0.5s;
						-o-transition: all 0.5s;
						transition: all 0.5s;
				    }

				    .post-attributes{
				    	position: absolute;
				    	bottom: 0;
				    	width: 100%;
				    	padding: 25px 35px;
				    	padding-top: 350px;
				    	z-index: 1;
				    	color: #fff;
						/* background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.20) 18%,rgba(0,0,0,0.42) 36%,rgba(0,0,0,0.85) 70%,rgba(0,0,0,0.95) 87%,rgba(0,0,0,1) 100%);*/
						/* background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.20) 8%,rgba(0,0,0,0.3) 26%,rgba(0,0,0,0.4) 60%,rgba(0,0,0,0.5) 87%,rgba(0,0,0,0.6) 90%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); */						
						-webkit-transition: all 0.5s;
						-moz-transition: all 0.5s;
						-ms-transition: all 0.5s;
						-o-transition: all 0.5s;
						transition: all 0.5s;

				    	&-title{
				    		width: 100%;
				    		font-size: 20px;

				    		a{
				    			color: #fff;
				    		}
				    	}

				    	&-category{
				    		position: absolute;
				    		background-color: #4968A9;
				    		padding: 3px 12px;
				    		border-radius: 5px;
				    		top: 334px;

				    		a{
				    			color: #fff;
				    			font-size: 12px;
				    			text-transform: uppercase;		
				    		}
				    	}
				    }
		    	}
			}
		}

		&-mas-populares{
			overflow: hidden;
			padding: 0;
			padding-top: 15px;

			&-title-seccion{
				border-bottom: solid 5px #4968A9;
				margin-bottom: 15px;
				overflow: hidden;
				
				p{
					color: #fff;
					background: #4968A9;
					position: relative;
					width: 40%;
					text-align: center;
					margin: 0;
					border-radius: 5px 5px 0 0;

					@media #{$tablet-7-landscape}{
					
					}

					@media #{$tablet-7}{
					
					}

					@media #{$tablet-portrait}{

					}
				}
			}

			.post:hover{

				.post-divisor{
					width: 100%;
					-webkit-transition: all 0.5s;
					-moz-transition: all 0.5s;
					-ms-transition: all 0.5s;
					-o-transition: all 0.5s;
					transition: all 0.5s;
				}

			}

			.post{
	    		height: 250px;
	    		background-position: 50% 50%;
			    background-size: cover;
			    background-color: inherit;
			    padding: 0;
			    margin-bottom: 15px;

			    @media #{$tablet-7-landscape}{
			    	height: 380px;
			    }

			    &-divisor{
			    	width: 0%;
			    	height: 4px;
			    	background-color: #4968A9;
			    	position: absolute;
			    	bottom: 0;
			    	z-index: 2;
			    	-webkit-transition: all 0.3s;
					-moz-transition: all 0.3s;
					-ms-transition: all 0.3s;
					-o-transition: all 0.3s;
					transition: all 0.3s;
			    }


			    &-attributes:hover{
			    	-webkit-transition: all 0.5s;
					-moz-transition: all 0.5s;
					-ms-transition: all 0.5s;
					-o-transition: all 0.5s;
					transition: all 0.5s;
			    }

			    &-attributes{
			    	position: absolute;
			    	bottom: 0;
			    	width: 100%;
			    	padding: 20px 35px 0 35px;
			    	z-index: 1;
			    	color: #fff;
					background-color: rgba(19,21,28,0.85);
					-webkit-transition: all 0.5s;
					-moz-transition: all 0.5s;
					-ms-transition: all 0.5s;
					-o-transition: all 0.5s;
					transition: all 0.5s;

			    	&-title{
			    		width: 100%;
			    		font-size: 20px;

			    		a{
			    			color: #fff;
			    		}
			    	}

			    	&-category{
			    		position: absolute;
			    		background-color: #4968A9;
			    		padding: 3px 12px;
			    		border-radius: 5px;
			    		top: 5px;

			    		a{
			    			color: #fff;
			    			font-size: 12px;
			    			text-transform: uppercase;		
			    		}
			    	}
			    }
	    	}
		}
	}
}

/*POST SHOW*/

#keppler-blog{
	padding-top: 70px;
	.posts-wrapper{
		.post{

			&-image{
				img{
					width: 100%;
				}
			}

			&-title{
				margin-top: 0px;
				a{
				  text-decoration: none;
				  color: black;	
				}	
			}

			&-attributes{
				ul{
					list-style: none;
					margin-top: 10px;
					padding: 0;

					#name-user{
						a{
							font-weight: bold;
						}
					}

					li{
						display: inline-block;
						margin-right: 8px;
						position: relative;
						top: -8px;
						color: #000;

						i{
							color: red;
						}

						p{
							font-weight: bold;
						}

						a{
							color: #000;
						}

						img{
							border-radius: 50%;
							position: relative;
							top: 20px;
						}
					}
				}
			}

			.social-share-button{
				a{
					text-decoration: none;
					color: #333;
					font-size: 30px;
					margin-left: 3px;
				}

				a:hover{
					color: #f44336;
					-webkit-transition: color .5s;
			        		transition: color .5s;
				}

				&-twitter:before{
					@include icon-before("\f081");
					color: #00ACED;
				}

				&-facebook:before{
					@include icon-before("\f082");
					color: #3B5999;
				}
				
				&-google_plus:before{
					@include icon-before("\f0d4");
					color: #D0453A;
				}

				&-pinterest:before{
					@include icon-before("\f0d3");
					color: #bd2126;
				}

				&-tumblr:before{
					@include icon-before("\f174");
					color: #36465D;
				}

				&-email:before{
					@include icon-before("\f199")
				}

			}
		}
	}

	.blog-widget{
		margin-bottom: 30px;
		&--header{
			margin-bottom: 10px;
			.widget-title{
			  font-size: 18px;
			  text-transform: uppercase;
			  font-weight: 500;
			  margin: 0px 0px 10px 0px;
			  border-bottom: 1px solid #ddd;
			  padding-bottom: 5px;
			}
		}

		&--body{
			ul.widget-list{
				padding: 0px;
				li{
					list-style-type: none;
				}
			}
			
			//widget recents
			#recents{
				li{
					margin-top: 10px;
					a{
						color: #333;
					}
				}
			}

			//widget tags
			#tags{
				li{
					margin-bottom: 10px;
					display: inline-block;
					a{
						border-radius: 2px;
						font-size: 12px;
						background: #333;
						color: white;
						padding: 4px 10px;
						text-transform: uppercase;
					}
					a:hover{
						text-decoration: none;
						background: #f44336;
						-webkit-transition: background .5s;
        		transition: background .5s;
					}
					a.active{
						background: #f44336;
					}
				}
			}
		}
	}
}


