@import "../core/main";

.container-footer{
	width: 100%;
	margin: 0;
	padding-top: 30px;

	&-content{
		width: 100%;
		height: 300px;
		background-color: #27292a;
	}

	&-creditos{
		width: 100%;
		background-color: #1f2021;
		padding-top: 20px;
		padding-bottom: 10px;
		color: #fff;

		p{
			display: inline-block;
		}

		a{
			color: red;
			display: inline-block;
		}
	}
}