@import "../core/main";

#front-navbar{ 
	margin-bottom: 0px;
	font-size: 14px;
	background-color: white;
	margin-bottom: 0px;
	border-radius: 0px;
	border-bottom: 5px solid #1552DB;
	font-family: 'Roboto Condensed',sans-serif;
  font-weight: 400;

  .container{

  	width: 95%;

	.navbar-toggle{
		border-color: transparent;

		.icon-bar{
			background-color: #fff;
		}
	}

	.logo-navbar{
		width: 90px;
		position: absolute;
		top: 5px;
		background-color: transparent;
		border-bottom: 5px solid #E60A0A;
		padding: 10px; 
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;

	}

	.position-original{
		top: 5px !important;
		padding: 0 !important;
		width: 70px !important;
		border-bottom-color: transparent !important;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}
	/*box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);*/


	a:hover{
		text-decoration: none;
	}

	.social-links{

		padding-top: 10px;

			@media #{$phone}{
				padding: 0;
			}

			li{
				display: inline-block;
				p{
					display: inline-block;
					margin-right: 10px;

					@media #{$phone}{
						display: none;
					}
				}

				a:hover{
					text-decoration: none;
				}
				
				a{
					i{
						font-size: 18px;
						line-height:30px;
						border-radius: 5px;
						width: 30px;
						color: #666;
					}

					.fa-twitter:hover{
						background-color: #00aeef;
						text-decoration: none;
						color: #fff;
					}

					.fa-facebook:hover{
						background-color: #4968a9;
						color: #fff;
					}

					.fa-instagram:hover{
						background-color: #125688;
						color: #fff;
					}
				}
			}
		}
	.brand-logo{
		font-family: 'Patua One', cursive;
		position: relative;
		left: 10px;
		font-size: 30px;
		color: #ffffff;
		top: 3px;
	}

	.brand-logo:hover{
		text-decoration: none;
	}

	#btn-categories-mobile{
		position: relative;
		top: 8px;
		right: 4px;
	}

	.collapsing{
		border-color: transparent !important;
		ul{

			list-style: none;

			@media #{$desktop}{
				
			}

			@media #{$tablet-portrait}{
				
			}

			li{
				display: inline-block;;
			}
			.blog-widget{
				@media #{$phone}{
					padding: 0 5%;
				}
				#search{
					.navbar-form{
						border-color: transparent !important;

						@media #{$phone}{
							border-top: none;
	  						border-bottom: none;
						}

						#query{
							border-radius: 4px 0 0 4px;
							display: inline-block;

							@media #{$phone}{
								width: 84%;
							}
						}

						.btn-search{
							position: relative;
							width: 40px;
							height: 34px;
							left: -5px;
							border-radius: 0 4px 4px 0;
							display: inline-block;

						}
					} 
				}

				#menu-toggle{
					margin-top: 8px;
					background-color: #4968A9 !important;
					border-color: #4968A9 !important;
				}
			}
		}
	}

	.collapse{
		border-color: transparent !important;
		ul{	
			width: 100%;
			margin-left: 5%;
			list-style: none;

			.categories-slider{
				display: inline-block;
				position: relative;
				padding: 17px 0px;
				text-align: center;
				font-size: 12px;


				a{
					color: #000;
				}
			}

			.categories-slider:hover{
				background: #1552DB;

				a{
					color: #fff;
				}
			}
			.navbar-form{
				border-color: transparent !important;
				width: 350px;

				@media #{$phone}{
					border-top: none;
						border-bottom: none;
				}

				#query{
					border-radius: 4px 0 0 4px;
					display: inline-block;
					width: 85%;

					@media #{$phone}{
						width: 84%;
					}
				}

				.btn-search{
					position: relative;
					width: 40px;
					height: 34px;
					left: -5px;
					border-radius: 0 4px 4px 0;
					display: inline-block;

				}
			}

			#search{
					.dropdown{
						display: inline-block;

						#dLabel{
							background-color: transparent;
							color: #fff;
							border: none;
							margin-top: 15px;
							font-size: 13px;
							border-color: transparent !important;
						}

						#dLabel:hover{
							color: #4968A9;
							border-color: transparent;
						}

						#dLabel:focus{
							border-color: transparent;
							outline-color: transparent; 
						}


						ul{
							padding: 10px 20px;

							a{
								color: black;
								display: block;
								font-size: 12px;
							}

							a:hover{
								color: #4968A9;
							}
						}
					}

			.blog-widget{
				@media #{$phone}{
					padding: 0 5%;
				}
				

					 
				}

				#menu-toggle{
					margin-top: 8px;
					background-color: #4968A9 !important;
					border-color: #4968A9 !important;
				}
			}
		}
	}

}
}