- unless @posts_hardware.empty?
	- @posts_hardware.each do |post|
		.col-lg-12.col-sm-6.post
			.col-lg-4.post-image{style: "background-image: url(#{post.image});"}
			.col-lg-8.post-attributes
				%i.fa.fa-calendar
				%p #{post.created_at.strftime("%d %b. %Y")}
				- if post.views != nil
					%i.fa.fa-eye
					%p #{post.impressionist_count} visitas 
				.col-lg-12{style:"padding: 0;"}
					= image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest post.user.email}?s=35", class: "avatar"
					= link_to post.user.name, filter_path('autor', post.user.permalink)			
				%h2.post-attributes-title
					= link_to post.title, blog_show_post_path(post.permalink)
				%p.post-attributes-body
					= link_to blog_show_post_path(post.permalink) do
						= sanitize(post.body, tags: []).truncate(175)
%center
	= paginate @posts_hardware, :param_name => :page2, :views_prefix => 'templates', :remote => true
