= title "TECHGAMER | Noticias, juegos, opiniones y mas"

.row.container-global
	.col-lg-12.container-global-full-categorias.multiple-items
		- unless @posts.empty?
			- @posts.each do |post|
				- unless post.nil?
					.col-lg-3.post{style: "background-image: url(#{post.image});"}
						.post-attributes
							.post-attributes-category
								%i.fa.fa-tags
								= link_to post.category.name, filter_path('category', post.category.permalink)
							%h2.post-attributes-title
								= link_to post.title, blog_show_post_path(post.permalink)
							

	.col-lg-12.container-global-secciones

		.col-lg-9.container-global-secciones-ultimas-noticias

			.col-lg-12.container-global-secciones-ultimas-noticias-panels
				%ul.nav.nav-tabs{:role => "tablist"}
					%li.active{:role => "presentation"}
						%a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#newmore", :role => "tab"} LO MAS NUEVO
					%li{:role => "presentation"}
						%a{"aria-controls" => "home", "data-toggle" => "tab", :href => "#software", :role => "tab"} SOFTWARE
					%li{:role => "presentation"}
						%a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#hardware", :role => "tab"} HARDWARE

				.tab-content
					#newmore.tab-pane.in.fade.active{:role => "tabpanel"}
						= render 'newmore'

					#software.fade.tab-pane{:role => "tabpanel"}
						= render 'software'

					#hardware.fade.tab-pane{:role => "tabpanel"}
						= render 'hardware'
									
		.col-lg-3.container-global-secciones-mas-populares
			.container-global-secciones-mas-populares-title-seccion
				%p LO MAS LEIDO
			- unless @posts_more_view.empty?
				- @posts_more_view.each do |post|
					.col-lg-12.col-sm-6.post{style: "background-image: url(#{post.image});"}
						.post-attributes
							.post-attributes-category
								%i.fa.fa-tags
								= link_to post.category.name, filter_path('category', post.category.permalink)
								- if post.views != nil
									%i.fa.fa-eye
									= post.impressionist_count			
							%h2.post-attributes-title
								= link_to post.title, blog_show_post_path(post.permalink)
						.post-divisor

			.col-lg-12{style:"padding:0;"}
				.container-global-secciones-mas-populares-title-seccion
					%p GUIAS
				- unless @posts_guias.empty?
					- @posts_guias.each do |post|
						.col-lg-12.col-sm-6.post{style: "background-image: url(#{post.image});"}
							.post-attributes			
								%h2.post-attributes-title
									= link_to post.title, blog_show_post_path(post.permalink)
							.post-divisor

:javascript
	$('.multiple-items').slick({
		infinite: true,
		slidesToShow: 4,
		arrow: true,
		slidesToScroll: 1,
		responsive: [
			{
				breakpoint: 480,
				settings: {
					arrows: true,
					slidesToShow: 1,
					slidesToScroll: 1
				}
			},
			{
				breakpoint: 767,
				settings: {
					arrows: true,
					slidesToShow: 2,
					slidesToScroll: 2
				}
			},
			{
				breakpoint: 1024,
				settings: {
					arrows: true,
					slidesToShow: 2,
					slidesToScroll: 2
				}
			}
		]
	});
