$('#software').html("#{escape_javascript(render 'software')}");
$('#paginator').html("#{escape_javascript(paginate(@posts_software, :remote => true))}");

$('#hardware').html("#{escape_javascript(render 'hardware')}");
$('#paginator').html("#{escape_javascript(paginate(@posts_hardware, :remote => true))}");

$('#newmore').html("#{escape_javascript(render 'newmore')}");
$('#paginator').html("#{escape_javascript(paginate(@posts_breaking_news, :remote => true))}");

