= render 'slidebar'
.row.container-global
	.col-lg-12.container-global-full-categorias.multiple-items
		- unless @posts.empty?
			- @posts.each do |post|
				- unless post.nil?
					.col-lg-3.col-sm-6.post{style: "background-image: url(#{post.image});"}
						.post-attributes
							.post-attributes-category
								%i.fa.fa-tags
								= link_to post.category.name, filter_path('category', post.category.permalink)
							%h2.post-attributes-title
								= link_to post.title, blog_show_post_path(post.permalink)

			%center
				= paginate @posts, :views_prefix => 'templates'
		- else
			.container-error
				%center
					%i.fa.fa-meh-o
					%p Oops! No hubo resultados para tu busqueda.