= title @post.title
= meta_description sanitize(@post.body, tags: []).truncate(150)
= render 'slidebar'

.container.blog#keppler-blog
	.row
		.col-lg-8.col-xs-12
			.posts-wrapper
				.post
					.post-image
						= link_to blog_show_post_path(@post.permalink) do
							= image_tag @post.image
					
					.post-attributes
						%ul
							%li
								= image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest @post.user.email}?s=50", class: "avatar"
							%li#name-user
								= link_to @post.user.name, filter_path('autor', @post.user.permalink)
							%li
								%span
									%i.fa.fa-calendar
									= @post.created_at.strftime("%d %b. %Y")
									
							
							%li.hidden-xs
								%i.fa.fa-tags
								= link_to @post.category.name, filter_path('category', @post.category.permalink)
							%li
								= #@post.impressionist_count
								%p #{@post.impressionist_count} Visitas
					%h2.post-title
						= link_to @post.title, blog_show_post_path(@post.permalink, popup: "true")
					
					= @post.shared_enabled ? social_share_button_tag(@post.title) : "<br>".html_safe
					.post-body
						= @post.body.html_safe
				
				= render 'facebook_comments'

		= render "sidebar"