%head
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	%title= content_for?(:title) ? yield(:title) : 'TECHGAMER - Noticias, Tecnologia, Juegos, Opiniones y mas'
	%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Juega informado, aca encontraras toda la informacion que buscas sobre tus titulos y temas favoritos del mundo gamer.'}"}
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true
	%meta{:content => "max-age=604800", "http-equiv" => "cache-control"}
	%meta{:name => "google-site-verification", :content => "b67Kd_k4E_P8trls8nM849F7EN-yDHPJ-KiBBzAnzGo"}
	%meta{:content => "Juega informado, aca encontraras toda la informacion que buscas sobre tus titulos y temas favoritos del mundo gamer.", :name => "description"}
	%meta{:content => "noodp", :name => "robots"}
	%meta#MetaKeywords{:content => "Tecnologia, juegos, pc, gamer, pcgamer, xbox one, ps4, linux, windows, blog de juegos, blog de tecnologia, noticias, mundo gamer,", :name => "KEYWORDS"}
	%meta#MetaCopyright{:content => "Techgamer © Copyright", :name => "COPYRIGHT"}
	%meta#MetaAuthor{:content => "TECHGAMER - Noticias, Tecnologia, Juegos, Opiniones y mas", :name => "AUTHOR"}
	= render 'layouts/frontend/google_analytics'
	= favicon_link_tag "frontend/TG-TECH-GAMES.png"
	= csrf_meta_tags

	- if show_blog?
		%meta{ property: "og:title", content: @post.title }
		%meta{ property: "og:description", content: sanitize(@post.body, tags: []).truncate(300) }
		%meta{ property: "og:url", content: request.url }
		%meta{ property: "og:image", content: "http://techgamer.xyz#{@post.image}"}
		%meta{:content => "article", :property => "og:type"}
	
	- else
		%meta{ property: "og:title", content: "TECHGAMER - Noticias, Tecnologia, Juegos, Opiniones y mas" }
		%meta{ property: "og:description", content: "Blog especializado en tecnologia, juegos y noticias del mundo gamer desde PC hasta consolas" }
		%meta{:content => "http://www.techgamer.xyz", :property => "og:url"}
		%meta{ property: "og:image", content: "http://techgamer.xyz/assets/frontend/TG-TECH-GAMES-logo-bdaab4709a07af43983ff6cdd5ab05a754cedde979d3f49a59ba76b7c6f9d7d2.png"}
		
	:javascript
		WebFontConfig = {
			google: { families: [  'Raleway::latin' ] }
		};
		(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
				'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();

		WebFontConfig = {
			google: { families: [ 'Roboto::latin', 'Open+Sans::latin' ] }
		};
		(function() {
			var wf = document.createElement('script');
			wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();

		WebFontConfig = {
			google: { families: [ 'ABeeZee:400,400italic:latin' ] }
		};
		(function() {
			var wf = document.createElement('script');
			wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();