.row{style:"margin: 0;"}
	.col-lg-6.col-sm-12{style:"padding: 0;"}
		.widget-list#search
			%ul.multiple-items-categories
				- @categories.each do |categoria|
					%li.categories-slider
						= link_to categoria.name.upcase, filter_path('category', categoria.permalink)
						
						
	.col-lg-2.col-sm-6
		.blog-widget
			%ul.social-links
				%li#twitter
					= link_to "", target: "_blank" do
						%span.fa-stack.fa-lg
							%i.fa.fa-twitter.fa-stack-1x.fa-inverse
				%li#facebook
					= link_to "https://www.facebook.com/techgameroficial/?ref=bookmarks", target: "_blank" do
						%span.fa-stack.fa-lg
							%i.fa.fa-facebook.fa-stack-1x.fa-inverse
				%li#instagram
					= link_to "", target: "_blank" do
						%span.fa-stack.fa-lg
							%i.fa.fa-instagram.fa-stack-1x.fa-inverse


	.col-lg-4.col-sm-6{style:"padding: 0;"}
		= form_tag blog_query_path, method: :get, :class => "navbar-form navbar-left" do |f|
			= text_field_tag :query, params[:query], :placeholder => "Buscar..", :class => "form-control"
			= button_tag(type: "submit", class: "btn-search form-control") do
				%i.fa.fa-search

:javascript
	$('.multiple-items-categories').slick({
		infinite: true,
		slidesToShow: 4,
		dots: false,
		arrows: false,
		slidesToScroll: 2

	});

		