-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top#front-navbar
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to blog_listing_path do
        = image_tag "frontend/TG-TECH-GAMES-logo.png", class: "logo-navbar position-original"
    .collapse.navbar-collapse

      %ul.nav.navbar-nav     
        = render 'layouts/frontend/navigation_links'
        
