.dashboard{
	margin: 110px 30px 30px 30px;
	@media #{$small-and-down} {
		margin: 10px 10px 10px 10px;
	}
	.card {
		padding: 20px;
	}
	
	label{
		font-size: 12px;
	  color: #3C3C3C;
	  font-weight: 900;
	  font-family: roboto;
	}

	select.FormField{
		display: block !important;
	}
	
	.dashboard-head{
		margin: 15px 15px 15px 20px;
		position: relative;

		@media #{$small-and-down} {
			margin: 0px;
		}
		
		#view-name{
			margin-left: 10px;
			font-family: "roboto";
			font-weight: 300;
			font-size: 1.4em;
			color: #777;
		}

		.ActiveUsers{
			position: absolute;
		  top: -3px;
		  right: 10px;
			background: none;
		  border: 1px solid #d4d2d0;
		  border-radius: 4px;
		  font-weight: 300;
		  padding: .5em 1.5em;
		  white-space: nowrap;
		  @media #{$small-and-down} {
				position: relative;
				text-align: center;
				top: 0px;
				right: 0px;
			}
		}

		#view-selector-container{
			margin-top: 20px;
		}
	}

	#embed-api-auth-container{
		.gapi-analytics-auth-styles-signinbutton{
			width: 100%;
		}
	}

	.charts-legend{
		list-style: none;
	  margin: 0;
	  padding: 1em 0 0;
	  text-align: center;
	  li{
	  	display: inline-block;
  		padding: .25em .5em;
	  	i{
		  	display: inline-block;
			  height: 1em;
			  margin-right: .5em;
			  vertical-align: -.1em;
			  width: 1em;
		  }
	  }
	}

	
}